@model IEnumerable<DemoArea.Areas.Department.Models.Location>

@{
	ViewData["Title"] = "Index";
}

<h1>Location</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					<a asp-area="Employee"
					   asp-controller="SalesEmployee"
					   asp-action="Index"
					   asp-route-locationID=@item.ID>
						View Employee List
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
